{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "semi": "off",
    "require-jsdoc": "off",
  },
  "extends": ["eslint:recommended", "google"]
}